In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [2]:
data_movies = pd.read_csv('ml-32m/movies.csv')
data_ratings = pd.read_csv('ml-32m/ratings.csv', on_bad_lines='skip')

In [3]:
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data_ratings.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [5]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87585 entries, 0 to 87584
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  87585 non-null  int64
 1   title    87585 non-null  object
 2   genres   87585 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [6]:
data_movies.movieId.value_counts(),print('Number of duplicated unique ids are: ',data_movies.movieId.duplicated().sum())

Number of duplicated unique ids are:  0

(movieId
 292757    1
 292427    1
 292467    1
 292469    1
 292471    1
          ..
 5         1
 6         1
 7         1
 8         1
 9         1
 Name: count, Length: 87585, dtype: int64,
 None)

In [7]:
data_ratings.movieId.value_counts()

movieId
318       102929
356       100296
296        98409
2571       93808
593        90330
           ...
206505         1
229167         1
138948         1
121961         1
137537         1
Name: count, Length: 84432, dtype: int64

In [8]:
# Filter for high ratings (>=4)
high_ratings = data_ratings[data_ratings['rating'] >= 4]

In [9]:
high_ratings

          userId  movieId  rating   timestamp
0              1       17     4.0   944249077
3              1       30     5.0   944249077
4              1       32     5.0   943228858
7              1       80     5.0   944248943
9              1      111     5.0   944249008
...          ...      ...     ...         ...
32000195  200948    72998     5.0  1350423889
32000196  200948    74458     4.5  1350423822
32000197  200948    76093     5.0  1287223498
32000199  200948    79702     4.5  1294412589
32000203  200948    87304     4.5  1350423523

[15938231 rows x 4 columns]

In [10]:
merge_df = data_movies.merge(high_ratings,on = 'movieId',how = 'inner')
merge_df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.0,1027305751
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,20,5.0,1553184230
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,24,4.0,945353745
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,28,4.0,961438127
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,5.0,1226362069
...,...,...,...,...,...,...
15938226,292607,The Invention of the Other (2022),Documentary,105979,4.5,1696931152
15938227,292609,The Wind Blows the Border (2022),Documentary,105979,4.0,1696931227
15938228,292611,Kenya (2022),Documentary,105979,4.0,1696931259
15938229,292731,The Monroy Affaire (2022),Drama,50685,4.0,1697074779
15938230,292753,Orca (2023),Drama,150812,4.0,1697140530

In [11]:
merge_df.drop(columns=['timestamp'], inplace=True)

Movie-to-Movie Association Rules

In [12]:
# Group movies by user and prepare for Transaction Encoding
user_movies = merge_df.groupby(by="userId")["title"].apply(list).tolist()

In [13]:
# Transaction encoding for movie titles
te = TransactionEncoder()
te_movies = te.fit(user_movies).transform(user_movies)
df_movies = pd.DataFrame(te_movies, columns=te.columns_)

In [14]:
# FP-Growth with a chosen min_support
min_support = 0.08  
movie_itemsets = fpgrowth(df_movies, min_support=min_support, use_colnames=True, max_len=2)

In [15]:
len(movie_itemsets)

912

In [16]:
# Generate association rules and filter based on confidence and support
min_confidence = 0.6  
movie_rules = association_rules(movie_itemsets, metric="confidence", min_threshold=min_confidence)

In [17]:
# To make sure one item on the left and right sides for each rule
movie_rules = movie_rules[(movie_rules['antecedents'].apply(len) == 1) & 
                          (movie_rules['consequents'].apply(len) == 1)]

In [18]:
len(movie_rules)

255

In [21]:
sorted_by_lift = movie_rules.sort_values(by='lift', ascending=False).head(20)
print("Top 20 movie rules sorted by lift:\n", sorted_by_lift[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

Top 20 movie rules sorted by lift:
                                            antecedents  \
156                         (Kill Bill: Vol. 2 (2004))
155                         (Kill Bill: Vol. 1 (2003))
27                                      (Alien (1979))
26                                     (Aliens (1986))
237                    (Dark Knight Rises, The (2012))
232                              (Interstellar (2014))
126    (Lord of the Rings: The Two Towers, The (2002))
127  (Lord of the Rings: The Return of the King, Th...
8                     (Godfather: Part II, The (1974))
200        (Indiana Jones and the Last Crusade (1989))
229                             (Batman Begins (2005))
129    (Lord of the Rings: The Two Towers, The (2002))
130  (Lord of the Rings: The Fellowship of the Ring...
125  (Lord of the Rings: The Fellowship of the Ring...
124  (Lord of the Rings: The Return of the King, Th...
221                                  (Iron Man (2008))
188                             (Prestige, The (2006))
168                           (Terminator, The (1984))
152                      (Inglourious Basterds (2009))
190                             (Prestige, The (2006))

                                           consequents   support  confidence  \
156                         (Kill Bill: Vol. 1 (2003))  0.101786    0.865317
155                         (Kill Bill: Vol. 2 (2004))  0.101786    0.695097
27                                     (Aliens (1986))  0.105094    0.630492
26                                      (Alien (1979))  0.105094    0.759879
237                          (Dark Knight, The (2008))  0.090452    0.876847
232                                 (Inception (2010))  0.103664    0.756875
126  (Lord of the Rings: The Return of the King, Th...  0.212379    0.854977
127    (Lord of the Rings: The Two Towers, The (2002))  0.212379    0.849355
8                              (Godfather, The (1972))  0.160667    0.922351
200  (Raiders of the Lost Ark (Indiana Jones and th...  0.136798    0.843983
229                          (Dark Knight, The (2008))  0.104491    0.748617
129  (Lord of the Rings: The Fellowship of the Ring...  0.219857    0.885081
130    (Lord of the Rings: The Two Towers, The (2002))  0.219857    0.808349
125  (Lord of the Rings: The Return of the King, Th...  0.217954    0.801352
124  (Lord of the Rings: The Fellowship of the Ring...  0.217954    0.871650
221                          (Dark Knight, The (2008))  0.081718    0.733193
188                                 (Inception (2010))  0.084717    0.687571
168                (Terminator 2: Judgment Day (1991))  0.112865    0.728503
152                                 (Inception (2010))  0.083422    0.667158
190                          (Dark Knight, The (2008))  0.085500    0.693919

         lift
156  5.909285
155  5.909285
27   4.558774
26   4.558774
237  3.812956
232  3.439072
126  3.419260
127  3.419260
8    3.381796
200  3.333978
229  3.255348
129  3.254179
130  3.254179
125  3.204800
124  3.204800
221  3.188279
188  3.124170
168  3.094740
152  3.031419
190  3.017495

In [22]:
# Sort by leverage and display the top 5 rules
sorted_by_leverage = movie_rules.sort_values(by='leverage', ascending=False).head(20)
print("Top 20 movie rules sorted by leverage:\n", sorted_by_leverage[['antecedents', 'consequents', 'support', 'confidence', 'leverage']])

Top 20 movie rules sorted by leverage:
                                            antecedents  \
130  (Lord of the Rings: The Fellowship of the Ring...
129    (Lord of the Rings: The Two Towers, The (2002))
126    (Lord of the Rings: The Two Towers, The (2002))
127  (Lord of the Rings: The Return of the King, Th...
124  (Lord of the Rings: The Return of the King, Th...
125  (Lord of the Rings: The Fellowship of the Ring...
1          (Star Wars: Episode IV - A New Hope (1977))
0    (Star Wars: Episode V - The Empire Strikes Bac...
56   (Star Wars: Episode VI - Return of the Jedi (1...
55         (Star Wars: Episode IV - A New Hope (1977))
58   (Star Wars: Episode VI - Return of the Jedi (1...
57   (Star Wars: Episode V - The Empire Strikes Bac...
8                     (Godfather: Part II, The (1974))
49   (Star Wars: Episode V - The Empire Strikes Bac...
50   (Raiders of the Lost Ark (Indiana Jones and th...
200        (Indiana Jones and the Last Crusade (1989))
48   (Raiders of the Lost Ark (Indiana Jones and th...
88                                  (Inception (2010))
89                           (Dark Knight, The (2008))
79                                 (Fight Club (1999))

                                           consequents   support  confidence  \
130    (Lord of the Rings: The Two Towers, The (2002))  0.219857    0.808349
129  (Lord of the Rings: The Fellowship of the Ring...  0.219857    0.885081
126  (Lord of the Rings: The Return of the King, Th...  0.212379    0.854977
127    (Lord of the Rings: The Two Towers, The (2002))  0.212379    0.849355
124  (Lord of the Rings: The Fellowship of the Ring...  0.217954    0.871650
125  (Lord of the Rings: The Return of the King, Th...  0.217954    0.801352
1    (Star Wars: Episode V - The Empire Strikes Bac...  0.229686    0.721966
0          (Star Wars: Episode IV - A New Hope (1977))  0.229686    0.833632
56         (Star Wars: Episode IV - A New Hope (1977))  0.200044    0.839813
55   (Star Wars: Episode VI - Return of the Jedi (1...  0.200044    0.628792
58   (Star Wars: Episode V - The Empire Strikes Bac...  0.189253    0.794512
57   (Star Wars: Episode VI - Return of the Jedi (1...  0.189253    0.686882
8                              (Godfather, The (1972))  0.160667    0.922351
49   (Raiders of the Lost Ark (Indiana Jones and th...  0.170043    0.617159
50   (Star Wars: Episode V - The Empire Strikes Bac...  0.170043    0.671718
200  (Raiders of the Lost Ark (Indiana Jones and th...  0.136798    0.843983
48         (Star Wars: Episode IV - A New Hope (1977))  0.174521    0.689410
88                           (Dark Knight, The (2008))  0.141068    0.640982
89                                  (Inception (2010))  0.141068    0.613432
79                                (Matrix, The (1999))  0.199805    0.650691

     leverage
130  0.152296
129  0.152296
126  0.150266
127  0.150266
124  0.149945
125  0.149945
1    0.142031
0    0.142031
56   0.124263
55   0.124263
58   0.123623
57   0.123623
8    0.113157
49   0.100295
50   0.100295
200  0.095767
48   0.093986
88   0.090457
89   0.090457
79   0.089737

In [23]:
# Sort by lift first, then leverage for a combined ranking
final_sorted_rules = movie_rules.sort_values(by=['lift', 'leverage'], ascending=[False, False])

In [24]:
final_sorted_rules.to_csv('final_movie_rules.csv', index=False)

In [25]:
# Display top 20 ranked rules
top_ranked_movie_rules = final_sorted_rules.head(20)
print("Top 20 Movie-to-Movie Rules Ranked by Interestingness:\n", 
      top_ranked_movie_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift', 'leverage']])

Top 20 Movie-to-Movie Rules Ranked by Interestingness:
                                            antecedents  \
155                         (Kill Bill: Vol. 1 (2003))
156                         (Kill Bill: Vol. 2 (2004))
26                                     (Aliens (1986))
27                                      (Alien (1979))
237                    (Dark Knight Rises, The (2012))
232                              (Interstellar (2014))
126    (Lord of the Rings: The Two Towers, The (2002))
127  (Lord of the Rings: The Return of the King, Th...
8                     (Godfather: Part II, The (1974))
200        (Indiana Jones and the Last Crusade (1989))
229                             (Batman Begins (2005))
129    (Lord of the Rings: The Two Towers, The (2002))
130  (Lord of the Rings: The Fellowship of the Ring...
124  (Lord of the Rings: The Return of the King, Th...
125  (Lord of the Rings: The Fellowship of the Ring...
221                                  (Iron Man (2008))
188                             (Prestige, The (2006))
168                           (Terminator, The (1984))
152                      (Inglourious Basterds (2009))
190                             (Prestige, The (2006))

                                           consequents   support  confidence  \
155                         (Kill Bill: Vol. 2 (2004))  0.101786    0.695097
156                         (Kill Bill: Vol. 1 (2003))  0.101786    0.865317
26                                      (Alien (1979))  0.105094    0.759879
27                                     (Aliens (1986))  0.105094    0.630492
237                          (Dark Knight, The (2008))  0.090452    0.876847
232                                 (Inception (2010))  0.103664    0.756875
126  (Lord of the Rings: The Return of the King, Th...  0.212379    0.854977
127    (Lord of the Rings: The Two Towers, The (2002))  0.212379    0.849355
8                              (Godfather, The (1972))  0.160667    0.922351
200  (Raiders of the Lost Ark (Indiana Jones and th...  0.136798    0.843983
229                          (Dark Knight, The (2008))  0.104491    0.748617
129  (Lord of the Rings: The Fellowship of the Ring...  0.219857    0.885081
130    (Lord of the Rings: The Two Towers, The (2002))  0.219857    0.808349
124  (Lord of the Rings: The Fellowship of the Ring...  0.217954    0.871650
125  (Lord of the Rings: The Return of the King, Th...  0.217954    0.801352
221                          (Dark Knight, The (2008))  0.081718    0.733193
188                                 (Inception (2010))  0.084717    0.687571
168                (Terminator 2: Judgment Day (1991))  0.112865    0.728503
152                                 (Inception (2010))  0.083422    0.667158
190                          (Dark Knight, The (2008))  0.085500    0.693919

         lift  leverage  conviction
155  5.909285  0.084561    2.893948
156  5.909285  0.084561    6.337597
26   4.558774  0.082040    3.470396
27   4.558774  0.082040    2.332012
237  3.812956  0.066729    6.252682
232  3.439072  0.073521    3.207889
126  3.419260  0.150266    5.171261
127  3.419260  0.150266    4.989206
8    3.381796  0.113157    9.365984
200  3.333978  0.095767    4.787016
229  3.255348  0.072393    3.063192
129  3.254179  0.152296    6.335021
130  3.254179  0.152296    3.921693
124  3.204800  0.149945    5.672138
125  3.204800  0.149945    3.775280
221  3.188279  0.056087    2.886115
188  3.124170  0.057601    2.496306
168  3.094740  0.076395    2.816240
152  3.031419  0.055903    2.343211
190  3.017495  0.057165    2.515786

Genre-to-Genre Association Rules

In [29]:
# genres for genre-level association mining
data_movies['genres'] = data_movies['genres'].str.split('|')
exploded_movies = data_movies.explode('genres')

In [30]:
# Merge with high ratings to get genres for highly rated movies
merged_genres = high_ratings.merge(exploded_movies[['movieId', 'genres']], on='movieId')

In [31]:
# Group genres by user and prepare for Transaction Encoding
user_genres = merged_genres.groupby(by="userId")["genres"].apply(list).tolist()

In [32]:
# Transaction encoding for genres
te_genres = TransactionEncoder()
te_genres_ary = te_genres.fit(user_genres).transform(user_genres)
df_genres = pd.DataFrame(te_genres_ary, columns=te_genres.columns_)

In [33]:
# FP-Growth for genre associations
genre_itemsets = fpgrowth(df_genres, min_support=min_support, use_colnames=True, max_len=2)

In [34]:
len(genre_itemsets)

190

In [35]:
# Generate genre-to-genre association rules and filter based on confidence
genre_rules = association_rules(genre_itemsets, metric="confidence", min_threshold=min_confidence)
# Filter for single item antecedents and consequents
genre_rules = genre_rules[(genre_rules['antecedents'].apply(len) == 1) & 
                          (genre_rules['consequents'].apply(len) == 1)]

In [36]:
len(genre_rules)

291

In [40]:
# Rank by interestingness metrics such as lift, leverage
ranked_genre_rules = genre_rules.sort_values(by=['lift', 'leverage'], ascending=[False, False])

In [41]:
ranked_genre_rules.to_csv('final_genre_rules.csv', index=False)

In [42]:
# Display top 20 ranked rules for genre-to-genre
top_ranked_genre_rules = ranked_genre_rules.head(20)
print("Top 20 Genre-to-Genre Rules Ranked by Interestingness:\n", 
      top_ranked_genre_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift', 'leverage']])

Top 20 Genre-to-Genre Rules Ranked by Interestingness:
        antecedents  consequents   support  confidence      lift  leverage  \
188    (Film-Noir)    (Western)  0.239859    0.725473  1.401484  0.068713
288  (Documentary)    (Western)  0.199710    0.696076  1.344695  0.051193
286  (Documentary)    (Musical)  0.225173    0.784824  1.302703  0.052322
190    (Film-Noir)    (Musical)  0.246465    0.745453  1.237353  0.047278
186    (Film-Noir)     (Horror)  0.297356    0.899375  1.233822  0.056352
208     (Children)  (Animation)  0.698594    0.901085  1.226487  0.129005
209    (Animation)   (Children)  0.698594    0.950872  1.226487  0.129005
264    (Animation)    (Musical)  0.536976    0.730889  1.213179  0.094357
265      (Musical)  (Animation)  0.536976    0.891308  1.213179  0.094357
261      (Musical)   (Children)  0.559036    0.927925  1.196889  0.091962
260     (Children)    (Musical)  0.559036    0.721075  1.196889  0.091962
290  (Documentary)     (Horror)  0.248498    0.866123  1.188204  0.039361
173      (Western)    (Musical)  0.369668    0.714133  1.185366  0.057808
174      (Musical)    (Western)  0.369668    0.613600  1.185366  0.057808
285  (Documentary)  (Animation)  0.244851    0.853412  1.161598  0.034063
170      (Western)     (Horror)  0.435350    0.841018  1.153765  0.058020
179    (Film-Noir)    (Mystery)  0.328034    0.992165  1.147421  0.042146
172      (Western)       (IMAX)  0.383598    0.741042  1.140143  0.047151
238    (Animation)       (IMAX)  0.543323    0.739528  1.137814  0.065808
239         (IMAX)  (Animation)  0.543323    0.835938  1.137814  0.065808

     conviction
188    1.757035
288    1.587086
286    1.847518
190    1.561763
186    2.693815
208    2.682231
209    4.574130
264    1.477244
265    2.440954
261    3.117838
260    1.425266
290    2.024733
173    1.390654
174    1.248327
285    1.809916
170    1.705013
179   17.268789
172    1.351743
238    1.343887
239    1.617146